<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8" />
      <title>Try Stock</title>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/back_to_top.css') }}" />
      <style media="screen">
         .table tr:nth-child(even) td {
         background-color: lightyellow;
         }
         .table tr:nth-child(even) th {
         background-color: lightyellow;
         }
      </style>
   </head>
   <!-- <body style="padding-top: 65px; margin:0px 15px 0px 10px;">
      <nav class="navbar navbar-light navbar-expand-md bg-light fixed-top"> -->
   <body style="background-color: #ffcbb7">
      <nav class="navbar navbar-dark navbar-expand-md bg-dark">
         <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('getPage', page='home.html')}}">Custom Stocky</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"><span class="navbar-toggler-icon"></span></button>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
               <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Custom Stocky</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
               </div>
               <div class="offcanvas-body bg-dark">
                  <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                     <li class="nav-item"><a class="nav-link" href="{{url_for('getPage', page='home.html')}}">Home</a></li>
                     <li class="nav-item"><a class="nav-link" href="{{url_for('getPage', page='aboutUs.html')}}">About Us</a></li>
                     <li class="nav-item"><a class="nav-link" href="{{url_for('getPage', page='contactUs.html')}}">Contact Us</a></li>
                     <li class="nav-item"><a class="nav-link" href="{{url_for('getMCDA',Rank_type='stat_cheap')}}">Top 10 Stocks</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </nav>
      <section style="margin: 0px 15px 0px 10px;">
         <p class="h2 mb-3">Company Name: <span class="h1">{{company_name}}</span></p>
         <p class="h3 mb-3">Sector Name: <span class="h2">{{sector_name}}</span></p>
         <div class="mb-3">{% for category in content.keys() %} <a type="button" class="btn btn-primary me-2 mb-2" href="#table-{{'_'.join(category.split())}}">{{category}}</a> {% endfor %}</div>
         {% for myCategory, myDict in content.items() %}
         <div class="table-responsive my-3" id="table-{{'_'.join(myCategory.split())}}">
            <p class="h3 mb-3">{{myCategory}}</p>
            <table class="table table-bordered table-primary">
               <thead>
                  <tr>
                     {% for header in myDict["headers"] %}
                     <th scope="col">{{header}}</th>
                     {% endfor %}
                  </tr>
               </thead>
               <tbody>
                  {% for row_name, myRow in myDict["values"].items() %}
                  <tr>
                     <th scope="row">{{row_name}}</th>
                     {% for cell in myRow.values() %}
                     <td>{{cell}}</td>
                     {% endfor %}
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
         {% endfor %}
      </section>
      <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
         <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-arrow-up" viewBox="0 0 16 20 ">
            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
         </svg>
      </button>
      <footer class="text-center text-lg-start bg-dark text-light">
  <!-- Section: Disclaimer -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-9 d-none d-lg-block">
      <span><strong>Disclaimer: </strong>The content is for informational purposes only. You should not interpret such information or any other material as legal, tax, investment, financial or other advice. Nothing  on our website constitutes a request, recommendation, approval or offer by HII or any third party  to buy or sell any security or other financial instrument in this or  any other jurisdiction where such request or offer would be illegal under  securities laws. of that jurisdiction.</span>
    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Custom Stocky
          </h6>
          <p>
            Stock recommender and screening tool for Indian Investors
          </p>
        </div>
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Data Consent
          </h6>
          <p>
            Data provided by <a href="https://www.screener.in/" target="blank">Screener.in</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.5);">
    © 2021
    <a class="text-reset fw-bold">WP Project by Arya, Vinay, Pratik, and Shrenik</a>
  </div>
</footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
      <script src="{{url_for('static', filename='js_files/back_to_top.js')}}"></script>
   </body>
</html>
